{%  extends 'personal/base.html'%}
{% block content%}

<div class="container-fluid hh">
    <div class="row justify-content-center">
        <div class="col col-md-7 col col-sm-10 col col-lg-6 col col-xl-6 col col-xs-12">
            <div class="sign_up_form abt">
                    <img src="/media/admin/me.jpg" class="about" style="height: 150px;width:100px;">
                    <hr>
                    <p class="abt_psg">
                        Hi, I am Arbind Mehta. Currently i am studyig B.E in Computer Engineering at Purwanchal Campus, Dharan.
                    </p>
                    <hr>
            </div>
        </div>
    </div>
</div>

{% endblock %}