{%  extends 'personal/base.html'%}
{% block content%}
<div class="container-fluid hh">
    <div class="row justify-content-center">
        <div class="col col-md-7 col col-sm-10 col col-lg-6 col col-xl-6 col col-xs-12">
            <div class="sign_up_form">
                    <i class="fas fa-user" style="font-size: 80px; color:black; margin-top:20px;"></i>
                        <form method="POST" onsubmit="return validate()" enctype="multipart/form-data" role="form" >
                            {% csrf_token %}
                            <div class="usr_info">
                              <p class="paa">
                                <label class="ic_lg" for="password"><i class="fas fa-lock"></i></label>
                                <input type="password" class="password" onkeyup="password1_validate()" placeholder="Password"  name="new_password1" id="password1" required >
                                  <div class="errorTxt" id="password1_error" style="display:none;">Password must contain 8 to 20 characters, at least one numeric digit and a special character.</div>
                              </p>
                              <p>
                                <label class="ic_lg" for="password"><i class="fas fa-lock"></i></label>
                                <input type="password" class="password" onkeyup="password2_validate()" placeholder="Re-type Password"  name="new_password2" id="password2" required >
                                  <div class="errorTxt" id="password2_error" style="display:none;">Two password must be same.</div>
                              </p>
                            </div>
                            <button type="reset" class="btnn" >Cancel</button>
                            <button type="submit" class="btnn">Change</button>
                        </form>
                      </div>
            </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
function validate() {
    if(!(password1_validate()&password2_validate()))
    {
        return false;
    }
    else
    {
        true;
    }
}

function password1_validate() {
    var password1=document.getElementById('password1').value;
    var password1_regx=/^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,15}$/;
    if(!(password1_regx.test(password1)))
    {
        document.getElementById('password1_error').style.display='block';
        return false;
    }
    else {
        document.getElementById('password1_error').style.display='none';
        return true;
    }
}
function password2_validate() {
     var password2=document.getElementById('password2').value;
     var password1=document.getElementById('password1').value;
    if(!(password1==password2))
    {
        document.getElementById('password2_error').style.display='block';
        return false;
    }
    else {
        document.getElementById('password2_error').style.display='none';
        return true;
    }
}

</script>

{% endblock %}