{%  extends 'personal/base.html'%}
{% block content%}
<div class="container-fluid hh">
    <div class="row justify-content-center">
        <div class="col col-md-7 col col-sm-10 col col-lg-6 col col-xl-6 col col-xs-12">
            <div class="sign_up_form">
                    <i class="fas fa-user" style="font-size: 80px; color:black; margin-top:20px;"></i>
                        <form method="POST" enctype="multipart/form-data" onsubmit="return validate()" role="form">
                            {% csrf_token %}
                            <div class="usr_info">
{#                              <p>#}
{#                                <label for="username" class="ic_lg"><i class="far fa-user"></i></label>#}
{#                                <input class="username" type="text" name="username" id="username" required placeholder="Username">#}
{#                              </p>#}
                              <p>
                                <label for="username" class="ic_lg"><i class="far fa-envelope"></i></label>
                                <input class="username" onkeyup="email_validate()" type="text" name="email" id="email" required placeholder="Enter your Email">
                                  <div class="errorTxt" id="email_error" style="display:none;">Please enter valid email.</div>
                              </p>
                            </div>
                            <button type="reset" class="btnn" >Cancel</button>
                            <button type="submit" class="btnn">Send</button>
                            <hr>

                        </form>
                      </div>
            </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
function validate() {
    {#alert(username_validate()&email_validate()&password1_validate()&password2_validate())#}
    if(!(email_validate()))
    {
        return false;
    }
    else
    {
        true;
    }
}

function email_validate() {
    var email=document.getElementById('email').value;
    var email_regx=/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;

    if(!(email_regx.test(email)))
    {
        document.getElementById('email_error').style.display='block';
        return false;
    }
    else {
        document.getElementById('email_error').style.display='none';
        return true;
    }
}
</script>


{% endblock %}