.body{
    /*background-image: url("/media/logo.png");*/
    background-color: cadetblue;
    margin: 0px;
}
h1{
    color: bisque;
}
/*Header Navigation bar*/
.navdiv{
    background-color: darkcyan;
    height: 50px;
    text-align: right;
}
.srch{
    text-align: left;
    display: flex;
    width: 19%;
    float: left;
    height: 50px;
    font-weight: normal;
    padding-left: 20px;
    padding-top: 10px;
}
.srch_btn{
    margin-left: 20px;
    background-color: aliceblue;
    font-family: Candara Light, "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    color: darkcyan;
    font-size: 17px;
    border-style: inset;
    border-radius: 3px;
    border: 0px;
    height: 30px;
    padding-left: 15px;
    padding-right: 15px;

}
.srch_btn:hover{
    opacity: 0.7;
    font-size: 16.5px;
}
.heading1{
    font-family: 'Calibri Light' ,Verdana;
    color: aliceblue;
    font-size: 25px;
    margin-bottom: 0.5%;
}

.srch_fild{
    background-color: aliceblue;
    font-family: Candara Light, "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    color: darkcyan;
    font-size: 17px;
    padding-left: 20px;
    border-style: inset;
    border-radius: 3px;
    border: 0px;
    height: 30px;

}
.navul{
    padding: 0;
    list-style: none;
    margin: 0;
}
.navul li{
    display: inline;
    padding: 20px;
    vertical-align: bottom;

}

.navul a{
    text-decoration: none;
    font-family: Candara Light,"Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    font-size: 20px;
    color: aliceblue;
    border-color: antiquewhite;
    padding: 8px;
    line-height: 60px;
    /*visibility: hidden;*/

}
.navul a:hover{
    background-color: aliceblue;
    color: darkcyan;
    line-height: 25px;
}
/*     */

/*Footer note*/
.footer{
    background-color: darkcyan;
    display: block;
    text-align: center;
    height: 100px;


}
.footer ul{
     padding: 0;
    list-style: none;
    margin: 0;
    vertical-align: bottom;
}

.footer ul li{
     padding: 0px;
    color: aliceblue;
    font-family:Candara Light,Courier, monospace;
    font-size: 15px;
}

.footer ul li a{
    font-family:Candara Light,Courier, monospace;
    font-size:15px;
    text-decoration: none;
    padding: 4px;
    color: aliceblue;
}
.footer ul a:hover{
    background-color: aliceblue;
    color: darkcyan;
    line-height: 25px;
}

/*   */

/* About page */
.img{
    width: 100px;
    height: 150px;

}
.imgdiv img:hover{
    cursor:grab;
    opacity: 0.5;
    box-shadow:2px 2px black;
    background-color: darkcyan;
}
.imgdiv{
    width: 500px;
    height: 900px;
    padding: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    /*border-radius: 20px;*/
    /*border:solid ghostwhite 2px;*/
}
.h_line{
    border-color: ghostwhite;
}
.about_par{
    text-decoration: none;
    font-family: Verdana, "Courier New", Courier, monospace;
    color: black;
}
.about_par a{
    text-decoration: none;
    color: black;
}
.about_par a:hover{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
/*Home page*/
.homecontent{
    background-color: cadetblue;
    border: 2px solid darkgreen;
    margin: 10px;
    padding: 10px;
}
.homecontent p{
    font-size: 15px;
    color: black;
    font-family: Candara Light, "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
}
/* Button */
.button{
    text-decoration: none;
    background-color: aliceblue;
    font-family: Candara Light, "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    color: darkcyan;
    font-size: 17px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 6px;
    padding-top: 6px;
    margin: 10px;
    border-style: inset;
    border-radius: 3px;
    border: 0px;

}

.button:hover{
    background-color: lightblue;
    font-size: 16px;
    cursor: pointer;
}
/*Contact*/
.login{
    padding: 30px;
    background-color: rgba(12,3,1,0.2);
    /*background-image: url("/media/logo.png");*/
    margin-left: auto;
    width: 50%;
    margin-right: auto;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
.fild{
    background-color: aliceblue;
    font-family: Candara Light, "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    color: darkcyan;
    font-size: 17px;
    padding-left: 20px;
    border-style: inset;
    border-radius: 3px;
    border: 0px;
    height: 30px;
}
.name{
    font-family: Candara Light, "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    color: darkcyan;
    font-size: 17px;
    font-weight: bold;
}
#table{
    display: table;
    margin-right: auto;
    margin-left: auto;
}
.row{
    display: table-row;
}
.row input {
    display: table-cell;
}
.row button{
    display: table-row;
}

.row label{
    display: table-cell;
    text-align: right;

}


.name{
    color: aliceblue;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    text-align: right;
}
/*Products */
#products{
    text-decoration: none;
    list-style: none;
    color: aliceblue;
    background-color: darkcyan;
    font-family: Candara Light,"Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    font-size: 20px;
    line-height: 60px;
    border: 0px;
    padding: 0px;

}
#temp{
    color: aliceblue;
}
#temp:hover{
    color: darkcyan;
    cursor: pointer;
}
#hiddennav{
    /*margin-right: auto;*/
    /*margin-left: auto;*/
}
#hiddendiv11{
    background-color: aliceblue;
    width: 200px;
    /*position: fixed;*/
    text-align: center;
    margin-left: auto;
    margin-right: 450px;
    margin-top: 1px;
    display: none;
    transition-duration: 0.1s;

}
#hiddennav a {
    text-decoration: none;
    font-family: Candara Light, "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    font-size: 20px;
    color: green;
    border-color: antiquewhite;
    padding: 8px;
    line-height: 40px;


}
#hiddennav a:hover{
     background-color: darkcyan;
    color: aliceblue;
}

.pro{
    text-decoration: none;
}
/*Gallery*/
.imgg{
    margin: 7px;
}
.imgg:hover{
    height: 200px;
    width: 350px;
    cursor: pointer;
    border: 2px royalblue solid;
    opacity: 0.7;

}
.img_list{
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    background: rgba(29,29,4,0.1);
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

#pop{
    height: 83%;
    width: 77%;
    background-color: aliceblue;
    /*margin-left: 11%;*/
    margin-top: -3%;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    visibility: hidden;
    padding: 1%;
}
#relm{
    height: 95%;
    width: 90%;
    margin-top: -2%;
}
#cls:hover{
    color: red;
    cursor: pointer;
}
.close{
    margin-left: 98%;
    margin-top: 0px;
}

/*codesnippts*/
.codeblocks{
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align:left;
    color: aliceblue;
    font-family: Candara Light, "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    padding: 50px;
    background: rgba(29,10,2,0.3);
}
.heading:hover{
    cursor: pointer;
    font-size: 30px;
}
/*Downloads*/
#downloadbut{
    margin-top: -7%;
}
.downlist{
    width: 75%;
    text-align:left;
    color: aliceblue;
    font-family: Candara Light, "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    display: none;
}
#sml{
    margin-top: -10%;
}

#detailbut{
    margin-left: 65%;
    margin-top: -10%;
}
.button1{

}
#pdflnk{
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}
#pdflnk:hover{
    text-decoration: none;
    color: darkcyan;
}
#sml1{
    margin-bottom: 5px;
}
.pdviw{

}
.chat_nav{
    text-align: right;
    height: 50px;
    background-color: rgba(142,16,4,0.02);
}
.profile{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    text-align: left;
    margin-top: 25px;

}
.actpic{
    height: 30px;
    width: 30px;
    border-radius: 50px;
}
#image{
    height: 100px;
    width: 100px;
}
.edit{
    visibility: hidden;
}
.lnk_btn{
    text-decoration: none;
    background-color: aliceblue;
    font-family: Candara Light, "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;

}
.lnk_btn:hover{
    background-color: lightblue;
    font-size: 16px;
    cursor: pointer;
}

/*responsive stuffs*/

.burger div{
    width: 28px;
    height: 2.5px;
    background-color: aliceblue;
    margin:5px;
}
.burger{
    display: none;
    float: right;
    margin-top: 16px;
    margin-right: 20px;
    cursor: pointer;
}

.navdiv1{
    background-color: darkcyan;
    height: 325px;
    text-align: left;
}

.navul1 li{
    display: block;
}

.navul1 a{
    text-decoration: none;
    font-family: Candara Light,"Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    font-size: 20px;
    color: aliceblue;
    border-color: antiquewhite;
    padding: 4px;
    /*visibility: hidden;*/

}
.navul1 a:hover{
    background-color: aliceblue;
    color: darkcyan;
}
.srch1{
    width: 20%;
    height: 50px;
    font-weight: normal;
    padding-left: 20px;
    padding-top: 10px;
    display: block;

}
.container{
}
.c1{
    margin-top: 225px;
}
.c2{
    margin-left: -20px;
    margin-top: 10px;
}
.c3{
    margin-left: 30px;
    margin-top: -285px;
}

@media screen and (max-width: 1179px){
    body{
        overflow-x: hidden;
    }

    .navdiv{

    }
    .navul li a{
        display: none;
    }
    .burger {
        display: block;
    }
    .srch{
        display: none;
    }

}